
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    color: rgb(5, 5, 5);
}

body {
    min-height: 100vh; 
    margin:0 auto;
}

.wrapperSuccess {
    max-width:400px;
    height:auto;
    padding: 10px;
    border: 1px solid rgb(228, 225, 225);
    background-color: rgb(243, 210, 148);
    border-radius: 5px;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 2em;
}
.connected {
    font-weight: bold;
}

.logoRegister {
    width:200px;
}
.wrapper{
    max-width:1250px;
    height:auto;
    padding: 10px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
.logo{
    width:400px;
    height:400px;
}

.right-content{
    width: 300px;
    height: auto;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}


section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

 a:hover {
    color: rgb(36, 30, 30);
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
  
}

button {
  display: flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:30px;
  margin-bottom:20px;
  background-color: rgb(216, 198, 189);
  font-weight:bold;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.NavLink {
    text-decoration: none;
    color: black;
}
.NavLink:hover{
    transition:0.3s;
    color: rgb(68, 100, 70);
    text-shadow: 2px 2px 2px grey;
}
#msg {
    font-weight: bold;
    color:brown;
}

button:hover {
    transition:0.3s;
    background-color: rgb(68, 100, 70);
    color:white;
    cursor:pointer;
    box-shadow: 5px 5px 5px rgb(184, 182, 182);
}
.errMsg {
    width: auto;
    height:30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}
@media screen and (max-width: 640px) {
    .wrapper{
        flex-direction: column;
    }
}