.navLogo {
    width: 200px;
    margin-left: 20px;
}
#mainWrapper,
.navbar-wrapper{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    background-color: rgb(202, 202, 202);
}
a:hover{
    color: rgb(70, 52, 19) !important;
    font-weight: bold !important;
}

.button {
    width: auto;
    margin-left: 20px;
}